<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="c2dc36c9-e0a7-418c-ac1b-de6ebd08742f" wsaVersion="NONE" name="Test_serviceSoap" type="wsdl" bindingName="{http://localhost/test_service/Service1.asmx}Test_serviceSoap" soapVersion="1_1" anonymous="optional" definition="http://rapis02.aqa.com.ru/SOAP/Service1.asmx?WSDL" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="c2dc36c9-e0a7-418c-ac1b-de6ebd08742ffileName">Test_serviceSoap</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://rapis02.aqa.com.ru/SOAP/Service1.asmx</con:endpoint></con:endpoints></con:interface>